DATABASE_URL="postgresql://user:pass@host:5432/dbname?schema=public"
JWT_SECRET="sua-chave"
DEEZER_API_URL="https://api.deezer.com"

SPOTIFY_CLIENT_ID="seu-client-id"
SPOTIFY_CLIENT_SECRET="seu-client-secret"

SPOTIFY_TOKEN_URL=https://accounts.spotify.com/api/token
SPOTIFY_API_URL=https://api.spotify.com/v1
